asgiref==3.5.0
asn1crypto==1.4.0
cffi==1.15.0
Django==4.0.3
dnspython==2.2.1
h11==0.7.0
hpack==3.0.0
hyperframe==5.2.0
idna==3.3
pip==22.0.4
pyasn1==0.4.8
pycparser==2.21
pymongo==4.0.2
setuptools==58.1.0
six==1.16.0
sqlparse==0.4.2
tzdata==2021.5